@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: #f7f7ff; */
}

.main-head{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.listingCard{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.logo-img{
  height: 40px;
}

.adminMenuList li{
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.adminMenuList{
  margin-left: 18px;

}