@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: #f7f7ff;
} */

.logo-img{
  height: 40px;
}


.poppins{
  font-family: var(--poppins-font);
}

.ck-powered-by{
  display: none !important;
}

.ck.ck-editor__editable_inline {
  padding-left: 30px !important;
  padding-right: 30px !important;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
}