@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: #f7f7ff;
} */

.logo-img{
  height: 40px;
}

.adminMenuList li{
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.adminMenuList li{
  background-color: rgb(255, 240, 254);
  margin: 15px 15px;
  padding: 10px;
  border-radius: 10px;
}

.adminMenuList li svg{
  font-size: 20px;
  color: rgb(0, 0, 0) !important;
}
.adminMenuList li a{
  font-size: 15px;
  font-weight: 500;
}

.poppins{
  font-family: var(--poppins-font);
}

.ck-powered-by{
  display: none !important;
}

.ck.ck-editor__editable_inline {
  padding-left: 30px !important;
  padding-right: 30px !important;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.editor-container_include-block-toolbar {
	margin-left: 42px;
}